- name: Download roxctl from Red Hat mirror
  ansible.builtin.get_url:
    url: "https://mirror.openshift.com/pub/rhacs/assets/{{
      code_red_breach_challenge_stackrox_customize_stackrox_roxctl_version }}/bin/{{
      code_red_breach_challenge_stackrox_customize_stackrox_roxctl_platform }}/roxctl"
    dest: /tmp/roxctl
    mode: '0755'

- name: Verify roxctl installation
  command: ./roxctl version
  register: r_roxctl_version_check
  changed_when: false
  args:
    chdir: /tmp

- name: Display roxctl version
  debug:
    msg: "Installed roxctl {{ r_roxctl_version_check }}"

- name: Retrieve StackRox token from Vault
  shell: |
    oc exec -n vault vault-0 -- vault kv get -field=token kv/secrets/janusidp/stackrox
  register: r_stackrox_token
  delegate_to: bastion

- name: Display token
  debug:
    msg: "StackRox Token: {{ r_stackrox_token.stdout }}"

- name: Scan image with retry
  environment:
    GRPC_ENFORCE_ALPN_ENABLED: "false"
    ROX_API_TOKEN: "{{ r_stackrox_token.stdout }}"
    ROX_ENDPOINT: "{{ code_red_breach_challenge_stackrox_customize_stackrox_endpoint }}"
  shell: |
    ./roxctl image scan --image "{{ code_red_breach_challenge_stackrox_customize_stackrox_roxctl_test_image }}" \
  register: image_scan_result
  until: image_scan_result.rc == 0
  retries: 120
  delay: 30
  args:
    chdir: /tmp