---
# Run pipeline runs in chunks
- name: Create pipeline runs for chunk starting at user {{ chunk_start + 1 }}
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'pipeline-run.yml.j2') | from_yaml }}"
    namespace: customers-{{ code_red_breach_challenge_argo_customize_argo_user_name_base }}{{ index }}
  loop: "{{ range(chunk_start, [chunk_start + code_red_breach_challenge_argo_customize_pipeline_chunk_size | int, code_red_breach_challenge_argo_customize_num_users | int] | min, 1) | list }}"
  loop_control:
    loop_var: n
  vars:
    index: "{{ n | int + 1 }}"

- name: Wait for all pipeline runs in chunk to complete
  kubernetes.core.k8s_info:
    api_version: tekton.dev/v1
    kind: PipelineRun
    namespace: "customers-{{ code_red_breach_challenge_argo_customize_argo_user_name_base }}{{ index }}"
  register: r_pipelinerun
  retries: 120
  delay: 30
  until:
    - r_pipelinerun.resources | length > 0
    - r_pipelinerun.resources[0].status is defined
    - r_pipelinerun.resources[0].status.completionTime is defined
  loop: "{{ range(chunk_start, [chunk_start + code_red_breach_challenge_argo_customize_pipeline_chunk_size | int, code_red_breach_challenge_argo_customize_num_users | int] | min, 1) | list }}"
  loop_control:
    loop_var: n
  vars:
    index: "{{ n | int + 1 }}"
