kind: ConfigMap
apiVersion: v1
metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
  name: appcm
immutable: true
data:
  BASTION: {{ ripper-{{ guid }}.{{ bastion_ansible_host }} }}
