---
apiVersion: v1
kind: Secret
metadata:
  name: {{ code_red_breach_challenge_argo_customize_gitea_user_name_base }}{{ index }}-env-gitops-repo
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://{{ code_red_breach_challenge_argo_customize_gitea_endpoint }}/{{
      code_red_breach_challenge_argo_customize_gitea_admin_user }}/{{ code_red_breach_challenge_argo_customize_gitea_user_name_base }}{{ index }}-env-gitops.git
  username: {{ code_red_breach_challenge_argo_customize_gitea_admin_user }}
  password: {{ code_red_breach_challenge_argo_customize_gitea_admin_password }}
  project: default
