kind: Secret
apiVersion: v1
metadata:
  name: vault-token
  namespace: {{ code_red_breach_challenge_bootstrap_vault_namespace }}
stringData:
  token: {{ code_red_breach_challenge_bootstrap_vault_token }}
type: Opaque