kind: Service
apiVersion: v1
metadata:
  name: cyclonedx-bom-repo-server
  namespace: {{ code_red_breach_challenge_bootstrap_cyclonedx_namespace }}
spec:
  ports:
    - name: http-listener
      protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
    app: cyclonedx-bom-repo-server
