---
- name: Set Template variables
  ansible.builtin.set_fact:
    code_red_breach_challenge_gitea_customize_gitea_endpoint: gitea.{{ openshift_cluster_ingress_domain }}
    code_red_breach_challenge_gitea_customize_quay_server: quay-{{ guid }}.{{ openshift_cluster_ingress_domain }}

- name: Import customers-app repository
  include_tasks: migrate_repos.yml
  loop: "{{ code_red_breach_challenge_gitea_customize_gitea_public_repos }}"

- name: Pause for gitea migration completion
  ansible.builtin.pause:
    minutes: 2

- name: Apply user templating
  block:
  - include_tasks: apply_user_templating.yml
    loop: "{{ range(0, code_red_breach_challenge_gitea_customize_gitea_num_users | int, 1) | list }}"
    loop_control:
      loop_var: n
    vars:
      index: "{{ n | int + 1 }}"
      code_red_breach_challenge_gitea_customize_lab_username: "{{ code_red_breach_challenge_gitea_customize_gitea_user_name_base }}{{ index }}"
  delegate_to: bastion